:root {
  --color-background: linear-gradient(to bottom, #c3acd0, #f7efe5);
  --color-text-darkest: #674188;
  --color-text-dark: #917fb3;
  --color-text-light: #f7efe5;
  --color-text-lightest: #fffbf5;
  --color-text-p: black;
}

.dark-theme {
  --color-background: linear-gradient(to bottom, #2a2b3d, #423457);
  --color-text-darkest: #d1c2e0;
  --color-text-dark: #b0a6cd;
  --color-text-light: #423457;
  --color-text-lightest: #2a2b3d;
  --color-text-p: white;
}

.theme-toggler-container {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 20px;
}

#theme-toggler {
  display: none;
  background: var(--color-text-dark);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

#theme-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.noscript-message {
  background-color: var(--color-text-light);
  color: black;
  padding: 15px;
  margin: 15px 0;
  text-align: center;
}

body {
  margin: 0;
  background: var(--color-background, white);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
}

.fade-in {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav {
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
  /* margin-top: 30px; */
}

nav a {
  color: var(--color-text-p);
  text-decoration: none;
  margin: 10px;
}

h1 {
  text-align: center;
  color: var(--color-text-darkest, black);
  font-family: "Amaranth", sans-serif;
  margin: 0;
}

.main-p {
  text-align: center;
  margin: 40px 80px;
  color: var(--color-text-p);
}

.skills-container {
  padding: 20px;
  margin: 20px;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.skills-section h2 {
  font-family: "Work Sans", sans-serif;
  color: var(--color-text-darkest);
  margin-right: 10px;
  margin-bottom: 0;
}

.skills-section ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-section li {
  background: var(--color-text-darkest, white);
  color: var(--color-text-lightest, black);
  border-radius: 10px;
}

.content {
  margin-top: 30px;
}

.caption p {
  font-family: "Work Sans", sans-serif;
  color: var(--color-text-darkest, black);
  text-align: left;
  margin: auto;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px;
}

.project-card {
  background-color: var(--color-text-dark, white);
  color: var(--color-text-lightest, black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.5s, transform 0.5s;
}

.emoji {
  margin: auto;
}

.project-card:hover {
  background-color: var(--color-text-darkest, white);
  cursor: pointer;
  transform: translateY(-5px);
}

.ideas-container {
  background-color: var(--color-text-light, white);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
  height: 70vh;
}

.ideas {
  padding: 40px;
  text-align: left;
}

.ideas p {
  color: var(--color-text-darkest, black);
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.ideas li {
  color: var(--color-text-p);
}

a.link {
  color: var(--color-text-darkest, black);
  text-decoration: none;
  font-weight: bold;
}

a.link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  nav a {
    font-size: 16px;
  }

  .main-p {
    font-size: 18px;
  }

  .skills-section h2 {
    font-size: 20px;
  }

  .skills-section li {
    padding: 3px 8px;
    margin: 3px 0;
    font-size: 14px;
  }

  .content {
    text-align: center;
  }

  .caption {
    margin: 30px 5%;
  }

  .caption p {
    font-size: 16px;
  }

  .project-card {
    width: 96px;
    height: 120px;
  }

  .emoji {
    font-size: 30px;
  }

  .project-name {
    font-size: 14px;
  }

  .ideas-container {
    width: 85%;
    border: 5px solid var(--color-text-dark, black);
  }

  .ideas p {
    font-size: 18px;
  }

  .ideas ul {
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 6rem;
  }

  nav a {
    font-size: 18px;
  }

  .main-p {
    font-size: 20px;
  }

  .skills-section h2 {
    font-size: 22px;
  }

  .skills-section li {
    padding: 4px 9px;
    margin: 4px 0;
    font-size: 15px;
  }

  .content {
    text-align: center;
  }

  .caption {
    margin: 30px 5%;
  }

  .caption p {
    font-size: 17px;
  }

  .project-card {
    width: 136px;
    height: 170px;
  }

  .emoji {
    font-size: 35px;
  }

  .project-name {
    font-size: 15px;
  }

  .ideas-container {
    width: 90%;
    border: 8px solid var(--color-text-dark, black);
  }

  .ideas p {
    font-size: 20px;
  }

  .ideas ul {
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 8rem;
  }

  nav a {
    font-size: 20px;
  }

  .main-p {
    font-size: 22px;
  }

  .skills-section h2 {
    font-size: 24px;
  }

  .skills-section li {
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 17px;
  }

  picture {
    margin-bottom: 5%;
    margin-left: 15%;
  }

  .content {
    display: flex;
    align-items: center;
  }

  .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 10%;
  }

  .caption p {
    font-size: 22px;
    line-height: 150%;
  }

  .project-card {
    width: 200px;
    height: 250px;
  }

  .emoji {
    font-size: 40px;
  }

  .project-name {
    font-size: 16px;
  }

  .ideas-container {
    width: 95%;
    border: 10px solid var(--color-text-dark, black);
  }

  .ideas p {
    font-size: 22px;
  }

  .ideas ul {
    font-size: 20px;
  }
}

/** Contact **/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  padding: 50px 200px;
  background: #fffbf5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.output {
  min-height: 20px;
  color: red;
}

.info-output {
  color: blue;
}

input:invalid,
textarea:invalid {
  border-color: red;
}

input:valid,
textarea:valid {
  border-color: green;
}

label::after {
  content: " *";
  color: red;
}

input:valid + label::after,
textarea:valid + label::after {
  display: none;
}

@keyframes flash {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: red;
  }
}

.flash-error {
  animation: flash 1s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 3s ease-out;
  animation-fill-mode: forwards;
}
